.restaurant-container {
  background: white;
  margin-bottom: 10px;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  list-style-type: none;
  padding: 15px;
  cursor: pointer;
  overflow: hidden;
}

.restaurant-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.restaurant-image {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.restaurant-metadata {
  max-height: 64px;
}

.restaurant-name {
  color: #808080;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.activeRestaurant {
  border: 2px solid #428a13;
}

.restaurant-metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
