.restaurant-container {
  background: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  align-items: top;
  padding: 15px;
}

.restaurant-image {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.restaurant-metadata {
  max-height: 64px;
}

.restaurant-name {
  color: #808080;
  font-size: 15px;
  font-weight: bold;
}

.activeRestaurant {
  border: 1px solid green;
}
