.cardlist-container {
  height: 71vh;
  width: 35%;
  background: #f8f8f8;
  padding: 23px;
  list-style-type: none;
  overflow-y: scroll;
}

.cardlist-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
