.cardlist-container {
  width: 35%;
  background: #f8f8f8;
  padding: 0px 23px;
  list-style-type: none;
  overflow-y: scroll;
}

.cardlist-list {
  list-style-type: none;
  padding: 0;
  margin: 23px 0px;
}
