.filter-container {
  position: relative;
}

.filter-button {
  height: 100%;
  width: 52px;
  margin-right: 15px;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  color: #a3a3a3;
  cursor: pointer;
}

.filter-button.isOpen {
  background-color: ##428a13;
  color: white;
  border: 1px solid ##428a13;
}

.filter-opac-cover {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.6;
}
