.filter-dropdown-container {
  background: white;
  z-index: 2;
  position: absolute;
  width: 200px;
  top: 39px;
  right: 13px;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.label-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #bcbfc0;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #e6e6e6;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.label-container input:checked ~ .checkmark {
  background-color: #448a12;
  border: 1px solid #448a12;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.label-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark .material-icons {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.sort-submit {
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: #448a12;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
