.searchbar-container {
  height: 30px;
  width: 302px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  border: 1px solid #d6d6d6;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.searchbar-text-input {
  height: 27px;
  border: none;
  color: #808080;
  font-weight: bold;
  font-size: 11px;
  padding-left: 8px;
  width: 100%;
}

.searchbar-button {
  background: white;
  width: 50px;
  border: none;
}

.material-icons.search {
  font-size: 20px;
  color: #428813;
}
